/* General page setup */
/* import font */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: url('../assets/image/testimage1.jpg') no-repeat center center/cover;
    color: #f4ce42;
    position: relative; 
    height: 80vh; 
}

header h1 {
    font-size: 100px;
    margin-bottom: 10px;
    
}

header h2 {
    font-size: 36px;
}


/* arrow setup */
.downarrow1 {
    position: absolute;
    bottom: 20px; /* Adjust this as needed */
    left: 50%;
    transform: translateX(-50%);
}

.downarrow1 img {
    width: 100px;
    height: auto;
}


section {
    text-align: center;
    padding: 100px 20px;
    background: url('../assets/image/italian2.jpg') no-repeat center center/cover;
    color: #ffffff;
    position: relative; /* Added this to position arrow relative to header */
    height: 45vh; /* Full screen height */
}

/* article section */
article {
    text-align: center;
    padding: 100px 20px;
    background: url('../assets/image/testimage3.jpg') no-repeat center center/cover;
    color: #f4ce42;
    position: relative; 
    height: 80vh; 
}

.ItalyInfo p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    color: #ffffff;
    font-style: bold;
}

.button1 {
    background-color: #f4ce42;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.thingstodo h2 {
    font-size: 28px;
    color: #f4ce42;
    margin-bottom: 40px;
}

.image1, .image2, .image3 {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.image1 img, .image2 img, .image3 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.image1 h3, .image2 h3, .image3 h3 {
    font-size: 18px;
    color: #000000;
}

.button2 {
    background-color: #f4ce42;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

/* Section 4 */
.section4 {
    background: url('../assets/image/rome.jpg') no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.section4 h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.section4 p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    color: #000000;
}

.section4 h3 {
    font-size: 24px;
    color: #000000;
    margin-top: 30px;
}

/* Section 5 */

.section5 {
    background: url('../assets/image/italy10.webp') no-repeat center center / cover;
    background-color: #1a1a1a;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.section5 h3 {
    color: #f4ce42;
    font-size: 24px;
}

.section5 p {
    font-size: 16px;
    color: #fff;
}

/* Info section of section 5 */
.info {
    background-color: black;
    color: #f4ce42; 
    border-radius: 50%; 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.info p {
    font-size: 24px; 
    margin: 0;
}

.info {
    font-size: 16px; 
    margin-top: 5px;
    color: white; 
}

/* section 6 */
.section6 {
    background: url('../assets/image/italy6.jpg') no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Section 7 */
.section7 {
    display: flex; 
    height: 50vh; 

}



.Review {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    max-width: 700px;
    margin-top: 20px;
    text-align: center;
}

.Review img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

.Review p {
    font-size: 16px;
    margin-bottom: 10px;
}

.Review h3 {
    color: #f4ce42;
    font-size: 24px;
}

/* Footer */
footer {
    background: url('../assets/image/gazing.jpg') no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

footer h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}


/* Contact input stucture */
.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact button {
    background-color: #f4ce42;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #d4b038;
}